{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{% block pageTitle %}Gov UK Frontend Express Starter<{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/assets/main.css">
{% endblock %}


{% block content %}
  <h1 class="govuk-heading-xl">Welcome to our Gov UK Frontend Express Starter</h1>
  <p class="govuk-body">This is a simple web page using Nunjucks templating.</p>

  {{ govukAccordion({
    id: "accordion-default",
    items: [
      {
        heading: {
          text: "Writing well for the web"
        },
        content: {
          html: '<p class="govuk-body">This is the content for Writing well for the web.</p>'
        }
      },
      {
        heading: {
          text: "Writing well for specialists"
        },
        content: {
          html: '<p class="govuk-body">This is the content for Writing well for specialists.</p>'
        }
      },
      {
        heading: {
          text: "Know your audience"
        },
        content: {
          html: '<p class="govuk-body">This is the content for Know your audience.</p>'
        }
      },
      {
        heading: {
          text: "How people read"
        },
        content: {
          html: '<p class="govuk-body">This is the content for How people read.</p>'
        }
      }
    ]
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script src="/assets/govuk/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}